<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.letech.study.boot.board.dao.PostDAO">
    <select id="getNavNm" resultType="string" parameterType="string">
        SELECT BOARD_NM
          FROM TB_BOARD
         WHERE BOARD_ID = #{boardId}
           AND DEL_YN = 'N'
    </select>

    <select id="getPost" resultType="kr.letech.study.boot.board.vo.PostVO" parameterType="string">
        SELECT TP.POST_ID
             , TP.USER_ID
             , TU.USER_NM
             , TP.POST_TTL
             , TP.POST_CNT
             , TP.RGST_DT
             , TP.UPDT_DT
          FROM TB_POST TP
         INNER JOIN TB_USER TU ON (TP.USER_ID = TU.USER_ID)
         WHERE TP.POST_ID = #{postId}
           AND TP.DEL_YN = 'N'
         ORDER BY RGST_DT DESC
    </select>

    <select id="getPostSeq" resultType="string">
        select LPAD(NEXTVAL(POST_SEQ), 6, '0')
    </select>

    <insert id="insertPost" parameterType="kr.letech.study.boot.board.vo.PostVO">
        INSERT INTO TB_POST ( POST_ID
                            , BOARD_ID
                            , USER_ID
                            , POST_TTL
                            , POST_CNT
                            , RGST_DT
                            , RGST_ID
                            , UPDT_DT
                            , UPDT_ID
                            , DEL_YN)
        VALUES ( #{postId}
               , 'b0009'
               , #{userId}
               , #{postTtl}
               , #{postCnt}
               , NOW()
               , #{rgstId}
               , NOW()
               , #{updtId}
               , 'N')
    </insert>

    <update id="modifyPost" parameterType="kr.letech.study.boot.board.vo.PostVO">
        UPDATE TB_POST
           SET POST_TTL = #{postTtl}
             , POST_CNT = #{postCnt}
             , UPDT_DT = NOW()
             , UPDT_ID = #{updtId}
         WHERE POST_ID = #{postId}
    </update>
    
    <delete id="deletePost" parameterType="string">
    	UPDATE TB_POST
           SET DEL_YN = 'Y'
             , UPDT_DT = NOW()
             , UPDT_ID = #{updtId}
         WHERE POST_ID = #{postId}
    </delete>	
</mapper>